{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix --max-warnings=0 --ignore-pattern '!**/node_modules/**'",
    "prettier --write --ignore-path .gitignore"
  ],
  "src/**/*.{json,css,scss,md}": [
    "prettier --write --ignore-path .gitignore"
  ]
}
