.storybook-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid
    color-mix(in srgb, var(--sys-color-worker-ash-base, #daf6b3) 12%, transparent);
  padding: 15px 20px;
  font-family: var(--font-primary, 'Work Sans', sans-serif);
}

.storybook-header svg {
  display: inline-block;
  vertical-align: top;
}

.storybook-header h1 {
  display: inline-block;
  vertical-align: top;
  margin: 6px 0 6px 10px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
}

.storybook-header button + button {
  margin-left: 10px;
}

.storybook-header .welcome {
  margin-right: 10px;
  color: var(--sys-color-worker-ash-base, #daf6b3);
  font-size: 14px;
}
